---
layout: default
---

<div class="section scrollspy" id="about" style="min-height: 50vh; padding-top: 15px;">
    <div class="container center">
        <div class="row middle-xs">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img src="https://avatars3.githubusercontent.com/u/4098132?v=3&s=200" style="border-radius: 100%;"
                    alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <h4 class="header text_b">Sobre mim</h4><br>
                </div>
                <div class="row">
                    <span style="text-align: justify; padding-bottom: 10px;">
                        Graduado em Ciência da Computação pela Universidade Federal do Tocantins - UFT (2016) e mestre
                        em Ciências de Computação e Matemática Computacional pela Universidade de São Paulo (ICMC-USP).
                        Atualmente trabalha como Software Analyst no Instituto de Pesquisas Eldorado em projetos
                        relacionados ao desenvolvimento de aplicações cloud-based em produtos da empresa Motorola.
                        Dentre os grandes feitos, em 2015 participou da final nacional da XX Maratona de Programação
                        ICPC e foi premiado com o título de melhor equipe do norte do Brasil.
                    </span>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a class="waves-effect waves-light btn" href="https://www.linkedin.com/in/v4ires/"
                            target="_blank" style="width: 100%; background-color: #0077B5;" title="Linkedin">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a class="waves-effect waves-light btn" href="http://lattes.cnpq.br/0170334132980557"
                            target="_blank" style="width: 100%; background-color: #3262A0;" title="Lattes">
                            <i class="ai ai-lattes ai-4x"></i>
                        </a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a class="waves-effect waves-light btn" href="https://orcid.org/0000-0002-7383-3500"
                            target="_blank" style="width: 100%; background-color: #a6ce39;" title="Orcid">
                            <i class="ai ai-orcid ai-4x"></i>
                        </a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <a class="waves-effect waves-light btn" href="{{ site.baseurl }}/assets/doc/cv_en.pdf"
                            target="_blank" style="width: 100%;" title="Curriculum Vitae">
                            <i class="fa fa-cloud-download"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="resume" class="section scrollspy">
    <div class="container center">
        <h3 class="header text_b" style="text-align: justify; padding-bottom: 2rem;">Currículo </h2>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="tabs">
                        <li class="tab"><a class="active" href="#tb_prof">Profissional</a></li>
                        <li class="tab"><a href="#tb_acad">Acadêmico</a></li>
                    </ul>
                </div>
                <div id="tb_acad" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 20px;">
                    <span style="padding-top: 20px;"><i class="fa fa-university"></i>Universidade de São Paulo
                        (USP)</span>
                    </br>
                    <caption>Mestrado em Ciência da Computação e Matemática Computacional</br>2016 - 2019</caption>
                    </br>
                    </br>
                    <div class="row middle-xs">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <a href="http://www.icmc.usp.br/Portal/conteudo/243/matem-tica" target="_blank">
                                <img src="{{ site.baseurl }}/assets/images/usp.svg" alt="" />
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <p style="text-align: justify;">
                                O programa de Ciências de Computação e Matemática Computacional é de alto nível
                                científico, reconhecido em nível nacional e internacional, tendo recebido conceito 7 -
                                atribuído pela CAPES, nos cursos de Mestrado e Doutorado.<br> Para mais informações
                                sobre o curso acesse o <a href="http://www.icmc.usp.br/Portal/conteudo/243/matem-tica"
                                    target="_blank">link</a>.
                            </p>
                        </div>
                    </div>

                    <span style="padding-top: 20px;">
                        <i class="fa fa-university"></i>
                        Universidade Federal do Tocantins (UFT)
                    </span>
                    </br>
                    <caption>Bacharel em Ciência da Computação </br>2012 - 2016</caption>
                    </br>
                    </br>
                    <div class="row middle-xs">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <a href="http://www.uft.edu.br" target="_blank"><img
                                    src="{{ site.baseurl }}/assets/images/logo_uft.svg" alt="" />
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <p style="text-align: justify;">
                                O curso Bacharel em Ciência da Computação tem como objetivo estudar as técnicas,
                                metodologias e instrumentos computacionais, a fim de automatizar processos e desenvolver
                                soluções baseadas no uso de processamento digital.<br> Para mais informações sobre o
                                curso acesse o <a href="https://palmas.uft.edu.br/grad/ccomp/curso/sobre-curso/"
                                    target="_blank">link</a>.
                            </p>
                        </div>
                    </div>
                </div>

                <div id="tb_prof" class="col s12" style="padding-top: 20px;">
                    <span style="padding-top: 20px;">
                        <i class="fa fa-briefcase"></i>
                        Insituto de Pesquisas Eldorado
                    </span>
                    </br>
                    <caption>Analista de Software </br>2018 - atual</caption>
                    </br>
                    </br>
                    <div class="row middle-xs">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <a href="#">
                                <a href="https://www.eldorado.org.br/" target="_blank"><img
                                        src="{{ site.baseurl }}/assets/images/eldorado.png"
                                        alt="" /></a>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <p style="text-align: justify;">
                                Pesquisa e Desenvolvimento (P&D) de aplicativos baseados em nuvem de escala global para
                                produtos da Motorola (GCP e AWS). Atua como desenvolvedor full-stack com Spring
                                Framework, ferramentas front-end (HTML5, CSS3 e JavaScript), banco de dados (SQL e
                                NoSQL) e sistemas distribuídos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="section scrollspy" id="work">
        <div class="container">
            <h3 class="header text_b" style="text-align: justify; padding-bottom: 2rem;">Portfólio </h3>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="box card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                src="{{ site.baseurl }}/assets/images/motorola_project.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Moto Feedback
                                <i class="mdi-navigation-more-vert right"></i>
                            </span>
                        </div>
                        <div class="card-reveal center">
                            <div class="row">
                                <span class="card-title grey-text text-darken-4">
                                    Moto Feedback
                                    <i class="mdi-navigation-close right"></i>
                                </span>
                                <p style="text-align: justify;">
                                    Aplicação de inteligência artificial e criação automática de issues no Jira baseadas
                                    em feedback de usuário finais.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="box card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                src="{{ site.baseurl }}/assets/images/motorola_project.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Demo Mode
                                <i class="mdi-navigation-more-vert right"></i>
                            </span>
                        </div>
                        <div class="card-reveal center">
                            <div class="row">
                                <span class="card-title grey-text text-darken-4">
                                    Demo Mode
                                    <i class="mdi-navigation-close right"></i>
                                </span>
                                <p style="text-align: justify;">Aplicação Servidora de dados para aplicação de
                                    demonstração de aparelhos da Motorola.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="box card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                src="{{ site.baseurl }}/assets/images/iotdsm_logo.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                IoTDSM
                                <i class="mdi-navigation-more-vert right"></i>
                            </span>
                        </div>
                        <div class="card-reveal center">
                            <div class="row">
                                <span class="card-title grey-text text-darken-4">
                                    IoTDSM
                                    <i class="mdi-navigation-close right"></i>
                                </span>
                                <p style="text-align: justify;">Arquitetura de referência para criação de aplicações IoT
                                    interoperáveis.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="box card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                src="{{ site.baseurl }}/assets/images/uft_servicos.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                UFT Serviços
                                <i class="mdi-navigation-more-vert right"></i>
                            </span>
                        </div>
                        <div class="card-reveal center">
                            <div class="row">
                                <span class="card-title grey-text text-darken-4">
                                    UFT Serviços
                                    <i class="mdi-navigation-close right"></i>
                                </span>
                                <p style="text-align: justify;">Aplicativo Android para abertura e acompanhamento de
                                    chamados da UFT.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="box card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                src="{{ site.baseurl }}/assets/images/maratonato.svg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                ACM ICPC at TO
                                <i class="mdi-navigation-more-vert right"></i>
                            </span>
                        </div>
                        <div class="card-reveal center">
                            <div class="row">
                                <span class="card-title grey-text text-darken-4">
                                    ACM ICPC at TO
                                    <i class="mdi-navigation-close right"></i>
                                </span>
                                <p style="text-align: justify;">Site da Maratona de Programação no Tocantins!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="box card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                src="{{ site.baseurl }}/assets/images/viiisecomp.svg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                VIII SECOMP UFT
                                <i class="mdi-navigation-more-vert right"></i>
                            </span>
                        </div>
                        <div class="card-reveal center">
                            <div class="row">
                                <span class="card-title grey-text text-darken-4">
                                    VIII SECOMP UFT
                                    <i class="mdi-navigation-close right"></i>
                                </span>
                                <p style="text-align: justify;">
                                    A Semana Acadêmica de Ciência da Computação é um evento que ocorre com periodicidade
                                    anual, sendo promovido pelo curso de Ciência da Computação da Fundação Universidade
                                    Federal do Tocantins (UFT).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="box card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ site.baseurl }}/assets/images/dojoto.svg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                DojoTO
                                <i class="mdi-navigation-more-vert right"></i>
                            </span>
                        </div>
                        <div class="card-reveal center">
                            <div class="row">
                                <span class="card-title grey-text text-darken-4">
                                    Coding Dojo Tocantins
                                    <i class="mdi-navigation-close right"></i>
                                </span>
                                <p style="text-align: justify;">
                                    Feito pela comunidade de desenvolvedores do Tocantins, o
                                    Coding DojoTocantins é uma organização que visa a integração e a troca de
                                    conhecimentos e experiências entre todos os amantes da programação!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="box card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ site.baseurl }}/assets/images/superto.svg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                Intranet Super TO
                                <i class="mdi-navigation-more-vert right"></i>
                            </span>
                        </div>
                        <div class="card-reveal center">
                            <div class="row">
                                <span class="card-title grey-text text-darken-4">
                                    Intranet Super TO
                                    <i class="mdi-navigation-close right"></i>
                                </span>
                                <p style="text-align: justify;">
                                    Intranet da Superintendência do Banco do Brasil do Tocantins!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="section scrollspy" id="blog">
    <div class="container">
        <h3 class="header text_b" style="text-align: justify;">Blog </h3>
        <caption style="text-align: justify;">Publicações Recentes</caption>
        <div class="row">
            {% for post in site.posts %} {% assign loopindex = forloop.index %} {% if loopindex <=3 %}
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ post.thumbnail }}">
                    </div>
                    <div class="collection" style="margin-bottom: 0px; margin-top: 0px;">
                        <a href="{{ site.baseurl }}{{ post.url }}" class="collection-item">{{ post.title }}</a>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn" href="{{ site.baseurl }}{{ post.url }}"
                            style="width: 100%;">Leia mais</a>
                    </div>
                </div>
            </div>
            {% endif %} {% endfor %}
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn" href="/blog" style="width: 100%;">Veja todas as publicações</a>
        </div>
    </div>
</div>