---
layout: default
---

<div class="section scrollspy" id="sobre">
  <div class="container center">
    <div class="row middle-xs">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <img src="https://avatars3.githubusercontent.com/u/4098132?v=3&s=200" style="border-radius: 100%;" alt="">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="row" style="border-left-width: 10px; padding-left: 10px; padding-right: 10px;">
          <h4 class="header text_b">Sobre mim</h4><br>
          <span style="text-align: justify; padding-bottom: 10px; ">Possui graduação em Ciência da Computação pela Universidade Federal do Tocantins - UFT (2016). Atualmente é aluno bolsista do Programa Pós-Graduação em Ciências de Computação e Matemática Computacional PPG-CCMC no Instituto de Ciências Matemática e de Computação na Universidade de São Paulo ICMC-USP. Atua na linha de pesquisa em Sistemas Distribuídos e Programação Concorrente com ênfase em Big Data, Rede de Sensores e Internet das Coisas.</span>

          <a class="waves-effect waves-light btn" href="https://www.linkedin.com/in/viniciusaires7/" target="_blank" style="width: 50%; background-color: #0077B5
          "><i class="fa fa-linkedin-square"></i> Linkedin</a>
          <a class="waves-effect waves-light btn" href="http://lattes.cnpq.br/0170334132980557" target="_blank" style="width: 50%; background-color: #3262A0;"><i class="fa fa-user"> Lattes</i></a>
          <br><br>
          <a class="waves-effect waves-light btn" href="{{ site.baseurl }}/assets/doc/cv_pt.pdf" style="width: 100%;"><i class="fa fa-cloud-download"></i> Download Curriculum Vitae (PT-BR)</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="resume" class="section scrollspy">
  <div class="container center">
    <h3 class="header text_b" style="text-align: justify; padding-bottom: 2rem;">Currículo </h2>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="tabs">
            <li class="tab"><a class="active" href="#test1">Acadêmico</a></li>
            <li class="tab"><a href="#test2">Profissional</a></li>
            <li class="tab"><a href="#test3">Premiações</a></li>
          </ul>
        </div>
        <div id="test1" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 20px;">

          <span style="padding-top: 20px;"><i class="fa fa-university"></i> Mestrando Universidade de São Paulo (ICMC-USP)</span>
          </br>
          <caption>Mestrado em Ciência da Computação e Matemática Computacional</br>2016 - atual</caption></br></br>
          <div class="row middle-xs">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <a href="http://www.icmc.usp.br/Portal/conteudo/243/matem-tica" target="_blank"><img src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/logo_icmc.svg" alt="" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <p style="text-align: justify;">
              O programa de Ciências de Computação e Matemática Computacional é de alto nível científico, reconhecido em nível nacional e internacional, tendo recebido conceito 7 - atribuído pela CAPES, nos cursos de Mestrado e Doutorado.<br>
              Para mais informações sobre o curso acesse o <a href="http://www.icmc.usp.br/Portal/conteudo/243/matem-tica" target="_blank">link</a>.
              </p>
            </div>
          </div>

          <span style="padding-top: 20px;"><i class="fa fa-university"></i> Acadêmico Universidade Federal do Tocantins</span>
          </br>
          <caption>Bacharel em Ciência da Computação </br>2012 - 2016</caption></br></br>
          <div class="row middle-xs">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <a href="http://www.uft.edu.br" target="_blank"><img src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/logo_uft.svg" alt="" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <p style="text-align: justify;">
              O curso Bacharel em Ciência da Computação tem como objetivo estudar as técnicas, metodologias e instrumentos computacionais, a fim de automatizar processos e desenvolver soluções baseadas no uso de processamento digital.<br>
              Para mais informações sobre o curso acesse o <a href="http://ww1.uft.edu.br/index.php/ensino/graduacao/10730-ciencia-da-computacao-palmas" target="_blank">link</a>.
              </p>
            </div>
          </div>
        </div>

        <div id="test2" class="col s12" style="padding-top: 20px;">
          <span style="padding-top: 20px;"><i class="fa fa-briefcase"></i> Estagiário Universidade Federal do Tocantins</span>
          </br>
          <caption>Estágio Laboratório de Ciência da Computação UFT </br>2015 - atual</caption></br></br>
          <div class="row middle-xs">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <a href="#"><a href="http://www.uft.edu.br" target="_blank"><img src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/logo_uft.svg" alt="" /></a></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <p style="text-align: justify;">
              Compete ao estagiário dos laboratórios de informática do curso de Ciência da Computação da Universidade Federal do Tocantins a abertura e fechamento dos laboratórios, exercer atividades administrativas de apoio aos coordenadores dos laboratórios, conservação e manutenção dos equipamentos e demais patrimônios e o desenvolvimentos de sistemas Web e mobile na linguagem de programação Java.
              </p>
            </div>
          </div>

          <span><i class="fa fa-briefcase"></i> Estagiário Superintendência do Banco do Brasil</span>
          </br>
          <caption>Estágio Banco do Brasil </br>2014 - 2015</caption></br></br>
          <div class="row middle-xs">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <a href="http://www.bb.com.br/" target="_blank"><img src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/logo_bb.svg" alt="" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <p style="text-align: justify;">
              Estágio na Superintendência do Banco do Brasil do Tocantins onde trabalhei no desenvolvimento de soluções JavaEE (Web) com as tecnologias JSF, Primefaces, Hibernate e Banco de Dados Relacional PostreSQL.
              </p>
            </div>
          </div>
        </div>

        <div id="test3" class="col s12" style="padding-top: 20px;">
          <caption><i class="fa fa-laptop"></i> XXI Maratona de Programação </br>2015</caption></br></br>
          <div class="row middle-xs">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <a href="#"><a href="http://maratona.ime.usp.br/" target="_blank"><img src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/logo_maratona.svg" alt="" /></a></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <p style="text-align: justify;">
                Menção Honrosa pela participação de uma das etapas Maratona de Programação realizada na Universidade Federal do Tocantins que aconteceu no dia 14 de Setembro de 2013 na cidade de Palmas.<br>
                <a href="https://drive.google.com/open?id=0BwOxXBIiBMq4UnhCLWxQek5MTWM" target="_blank">Link</a> para o certificado.
              </p>
            </div>
          </div>

          <caption><i class="fa fa-laptop"></i> XXI Maratona de Programação </br>2015</caption></br></br>
          <div class="row middle-xs">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <a href="http://maratona.ime.usp.br/" target="_blank"><img src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/logo_maratona.svg" alt="" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <p style="text-align: justify;">
                Menção Honrosa pela participação de uma das etapas Maratona de Programação Realizada na Universidade Federal do Tocantins que aconteceu no dia 12 de Setembro de 2015 na cidade de Palmas.<br>
                <a href="https://drive.google.com/open?id=0BwOxXBIiBMq4MmJfZ0o4UlVaYXM" target="_blank">Link</a> para o certificado.
              </p>
            </div>
          </div>

          <caption><i class="fa fa-laptop"></i> XVIII Maratona de Programação </br>2013</caption></br></br>
          <div class="row middle-xs">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
              <a href="http://maratona.ime.usp.br/" target="_blank"><img src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/logo_maratona_final.svg" alt="" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
              <p style="text-align: justify;">
                Reconhecimento à equipe Mycoffeesoft a qual sou integrante como melhor equipe da região Norte do país, a final brasileira da Maratona de Programação ocorreu nos dias 13 e 14 de Novembro de 2015 na cidade de São Paulo no IBTA (Instituto Brasileiro de Tecnologia Avançada).<br>
                <a href="https://drive.google.com/open?id=0BwOxXBIiBMq4VXdnbWhDNDZqc1E" target="_blank">Link</a> para o certificado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section scrollspy" id="work">
    <div class="container">
      <h3 class="header text_b" style="text-align: justify; padding-bottom: 2rem;">Portfólio </h3>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="box card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/superto.svg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Intranet Super TO <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal center">
                  <div class="row">
                    <span class="card-title grey-text text-darken-4">Intranet Super TO <i class="mdi-navigation-close right"></i></span>
                    <p style="text-align: justify;">Intranet da Superintendência do Banco do Brasil do Tocantins!</p>
                  </div>
                  <div class="row">
                    <a class="waves-effect waves-light btn" href="/work/superto" style="width: 100%;">Saiba Mais</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="box card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/dojoto.svg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">DojoTO <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal center">
                  <div class="row">
                    <span class="card-title grey-text text-darken-4">Coding Dojo Tocantins <i class="mdi-navigation-close right"></i></span>
                    <p style="text-align: justify;">Feito pela comunidade de desenvolvedores do Tocantins, o Coding DojoTocantins é uma organização que visa a integração e a troca de conhecimentos e experiências entre todos os amantes da programação!</p>
                  </div>
                  <div class="row">
                    <a class="waves-effect waves-light btn" href="/work/dojoto" style="width: 100%;">Saiba Mais</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="box card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/viiisecomp.svg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">VIII SECOMP UFT <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal center">
                  <div class="row">
                    <span class="card-title grey-text text-darken-4">VIII SECOMP UFT <i class="mdi-navigation-close right"></i></span>
                    <p style="text-align: justify;">A Semana Acadêmica de Ciência da Computação é um evento que ocorre com periodicidade anual, sendo promovido pelo curso de Ciência da Computação da Fundação Universidade Federal do Tocantins (UFT).</p>
                  </div>
                  <div class="row">
                    <a class="waves-effect waves-light btn" href="/work/secomp2015" style="width: 100%;">Saiba Mais</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="box card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/maratonato.svg">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">ACM ICPC at Tocantins <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal center">
                  <div class="row">
                    <span class="card-title grey-text text-darken-4">ACM ICPC at Tocantins <i class="mdi-navigation-close right"></i></span>
                    <p style="text-align: justify;">Site da Maratona de Programação no Tocantins!</p>
                  </div>
                  <div class="row">
                    <a class="waves-effect waves-light btn" href="/work/maratonato" style="width: 100%;">Saiba Mais</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="box card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/embreve.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">UFT Serviços <i class="mdi-navigation-more-vert right"></i></span>
                </div>
                <div class="card-reveal center">
                  <div class="row">
                    <span class="card-title grey-text text-darken-4">UFT Serviços <i class="mdi-navigation-close right"></i></span>
                    <p style="text-align: justify;">Em breve mais informações a respeito do projeto!</p>
                  </div>
                  <div class="row">
                    <a class="waves-effect waves-light btn" href="#" style="width: 100%;">Em Breve</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section scrollspy" id="blog">
    <div class="container">
      <h3 class="header text_b" style="text-align: justify;">Blog </h3>
      <caption style="text-align: justify;">Publicações Recentes</caption>
        <div class="row">
          {% for post in site.posts %}
            {% assign loopindex = forloop.index %}
               {% if loopindex <= 3 %}
                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                   <div class="card">
                     <div class="card-image">
                       <img src="{{ post.thumbnail }}">
                     </div>
                     <div class="collection" style="margin-bottom: 0px; margin-top: 0px;">
                       <a href="{{ site.baseurl }}{{ post.url }}" class="collection-item">{{ post.title }}</a>
                     </div>
                     <div class="card-action">
                       <a class="waves-effect waves-light btn" href="{{ site.baseurl }}{{ post.url }}" style="width: 100%;">Leia mais</a>
                     </div>
                   </div>
                 </div>
               {% endif %}
          {% endfor %}
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn" href="/blog" style="width: 100%;">Veja todas as publicações</a>
      </div>
    </div>
  </div>
