<div class="container center">
    <div class="row middle-xs">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="https://avatars3.githubusercontent.com/u/4098132?v=3&s=200" style="border-radius: 100%;" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row" style="margin-top: 20px;">
                <h4 class="header text_b">Who am I?</h4><br>
            </div>
            <div class="row">
                <span style="text-align: justify; padding-bottom: 10px;">
                  I am Data Scientist & Software Engineer with background in Distributed Systems.
                  I have experience in different fields in Computer Science, e.g., Machine Learning, Natural Language Processing and Back-end Development (Cloud Engineer). 
                  Undergraduate in Computer Science at Federal University of Tocantins (UFT) and master's on Compute Science at University of São Paulo (USP). 
                  I am certified in Google Cloud Platform and experienced with AWS, IBM Cloud and On-premises server administration. 
                  Among my achievements, in 2015 I had a team selected in the 20th ICPC Programming Marathon and was awarded as the best team in the north of Brazil.
                  Finally, in 2021 I had a team that won in 3rd place the IBM AI Hackathon 2021.
                </span>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a class="waves-effect waves-light btn" href="https://www.linkedin.com/in/v4ires/" target="_blank"
                        style="width: 100%; background-color: #0077B5;" title="Linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a class="waves-effect waves-light btn" href="http://lattes.cnpq.br/0170334132980557"
                        target="_blank" style="width: 100%; background-color: #3262A0;" title="Lattes Curriculum">
                        <i class="ai ai-lattes ai-4x"></i>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a class="waves-effect waves-light btn" href="https://orcid.org/0000-0002-7383-3500" target="_blank"
                        style="width: 100%; background-color: #a6ce39;" title="Orcid Curriculum">
                        <i class="ai ai-orcid ai-4x"></i>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a class="waves-effect waves-light btn" href="{{ site.baseurl }}/assets/doc/cv_en.pdf"
                        target="_blank" style="width: 100%;" title="Curriculum Vitae">
                        <i class="fas fa-file-pdf"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
