<div class="container center">
    <div class="row middle-xs">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <img src="https://avatars3.githubusercontent.com/u/4098132?v=3&s=200" style="border-radius: 100%;" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row" style="margin-top: 20px;">
                <h4 class="header text_b">Who am I?</h4><br>
            </div>
            <div class="row">
                <span style="text-align: justify; padding-bottom: 10px;">
                    Software Engineer currently working at Eldorado Institute with background in Distributed Systems and Cloud Computing. Professional passionate about technology and science, always looking forward to learn and share new knowledge. Has +5 years in experience in different fields in Computer Science, e.g., Problem Solving, Software Architecting and Research & Development (R&D).
                    Undergraduate in Computer Science at Federal University of Tocantins (UFT) and master's degree on Distributed Systems and Concurrent Programming at University of São Paulo (USP). Professional certified in Google Cloud Platform (Cloud Engineer, Cloud Architect and Data Engineer) and experienced with AWS and On-premises.
                </span>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a class="waves-effect waves-light btn" href="https://www.linkedin.com/in/v4ires/" target="_blank"
                        style="width: 100%; background-color: #0077B5;" title="Linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a class="waves-effect waves-light btn" href="http://lattes.cnpq.br/0170334132980557"
                        target="_blank" style="width: 100%; background-color: #3262A0;" title="Lattes Curriculum">
                        <i class="ai ai-lattes ai-4x"></i>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a class="waves-effect waves-light btn" href="https://orcid.org/0000-0002-7383-3500" target="_blank"
                        style="width: 100%; background-color: #a6ce39;" title="Orcid Curriculum">
                        <i class="ai ai-orcid ai-4x"></i>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a class="waves-effect waves-light btn" href="{{ site.baseurl }}/assets/doc/cv_en.pdf"
                        target="_blank" style="width: 100%;" title="Curriculum Vitae">
                        <i class="fas fa-file-pdf"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
