<div class="card-action" style="padding-left: 10px; padding-right: 10px;">
    <div class="chip" style="padding-right: 10px; padding-left: 10px;">
        <img src="https://avatars3.githubusercontent.com/u/4098132?v=3&s=60" alt="Contact Person">
        <a href="https://www.github.com/v4ires" target="_blank" style="color: #727272; margin-right: 0px;">@v4ires</a>
    </div>
    <div class="social-links" style="float: right;">
        <a href="JavaScript:newPopup('https://www.facebook.com/sharer/sharer.php?u=https://viniciusaires.dev/{{ post.slug }}/');"
            style="margin-right: 5px;">
            <img src="{{ site.baseurl }}/assets/images/icons/facebook.png" alt="" />
        </a>
        <a href="JavaScript:newPopup('https://twitter.com/home?status=https://viniciusaires.dev/{{ post.slug }}/');"
            style="margin-right: 5px;">
            <img src="{{ site.baseurl }}/assets/images/icons/twitter.png" alt="" />
        </a>
        <a href="JavaScript:newPopup('https://www.linkedin.com/shareArticle?mini=true&url=https://viniciusaires.dev/{{ post.slug }}/');"
            style="margin-right: 5px;">
            <img src="{{ site.baseurl }}/assets/images/icons/linked-in.png" alt="" />
        </a>
    </div>
</div>