<footer id="contact" class="page-footer default_color scrollspy" style="height: 100%;">
  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h5 class="white-text" style="text-align: justify;">viniciusaires.me</h5>
          <ul style="text-align: justify;">
            <li><a class="white-text" href="/">Home</a></li>
            <li><a class="white-text" href="/blog">Blog</a></li>
            <li><a class="white-text" href="/license">Licenças</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {% include social.html %}
        </div>
      </div>
  </div>
</footer>
