<div class="navbar-fixed">
  <nav id="nav_f" class="default_color" role="navigation" style="height: 65px;">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="padding-top: 5px;"><img
            src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/logo.svg" alt="" /></a>
        <ul class="right hide-on-med-and-down">
          {% include li_navbar.html %}
        </ul>
        <ul id="nav-mobile" class="side-nav">
          {% include li_navbar.html %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
</div>