<nav style="height: 65px; background-color: #009688">
  <div class="nav-wrapper">
    <a href="/#" class="brand-logo">
      <img src="{{ site.baseurl }}/assets/images/logo.svg" style="width: 100%;" />
    </a>
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Início</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-nav">
  <li><a href="#">Início</a></li>
  <li><a href="/blog">Blog</a></li>
</ul>