<div class="navbar-fixed">
  <nav id="nav_f" class="default_color" role="navigation" style="height: 65px;">
    <div class="container">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo" style="padding-top: 5px;"><img src="{{ site.baseurl }}{{ site.baseurl }}/assets/images/logo.svg" alt=""/></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Início</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#resume">Currículo</a></li>
          <li><a href="#work">Portfólio</a></li>
          <li><a href="https://scholar.google.com.br/citations?user=HjQRs4YAAAAJ&hl=pt-BR" target="_blank">Scholar</a></li>
          <li><a href="#blog">Blog</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Início</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#resume">Currículo</a></li>
          <li><a href="#work">Portfólio</a></li>
          <li><a href="https://scholar.google.com.br/citations?user=HjQRs4YAAAAJ&hl=pt-BR" target="_blank">Scholar</a></li>
          <li><a href="#blog">Blog</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
</div>
