<div class="row">
  <h5 class="white-text">Redes Sociais</h5>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <a class="white-text" href="https://github.com/v4ires" target="_blank">
      <i class="small fa fa-github-square white-text"></i> Github
    </a>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <a class="white-text" href="https://www.linkedin.com/in/v4ires" target="_blank">
      <i class="small fa fa-linkedin-square white-text"></i> Linkedin
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <a class="white-text" href="https://twitter.com/v4ires" target="_blank">
      <i class="small fa fa-twitter-square white-text"></i> Twitter
    </a>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <a class="white-text" href="{{ site.baseurl }}/feed.xml">
      <i class="small fa fa-rss-square"></i> RSS
    </a>
  </div>
</div>
