<link href="{{ site.baseurl }}/assets/css/flexboxgrid.min.css" type="text/css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/plugin-min.css" type="text/css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/custom-min.css" type="text/css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/font-awesome-animation.min.css" type="text/css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/style.css" type="text/css" rel="stylesheet">
