<!-- Flexbox Grid -->
<link href="{{ site.baseurl }}/assets/css/flexboxgrid.min.css" type="text/css" rel="stylesheet">

<!-- Materialize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

<!-- Custom Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i" rel="stylesheet">

<!-- Icon Fonts -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/font-awesome-animation.min.css" type="text/css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/academicons.min.css" type="text/css" rel="stylesheet">

<!-- Custom Rouge Syntax Highlight -->
<link href="{{ site.baseurl }}/assets/css/syntax-base16.solarized.dark.css" type="text/css" rel="stylesheet">