<!-- Flexbox Grid -->
<link href="{{ site.baseurl }}/assets/css/flexboxgrid.min.css" type="text/css" rel="stylesheet">

<!-- Materialize CSS -->
<link href="{{ site.baseurl }}/assets/css/plugin-min.css" type="text/css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/custom-min.css" type="text/css" rel="stylesheet">

<!-- Icon Fonts -->
<link href="{{ site.baseurl }}/assets/css/font-awesome.min.css" type="text/css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/font-awesome-animation.min.css" type="text/css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/academicons.min.css" type="text/css" rel="stylesheet">

<!-- Custom Rouge Syntax Highlight -->
<link href="{{ site.baseurl }}/assets/css/syntax-base16.solarized.dark.css" type="text/css" rel="stylesheet">