<div class="container center">
  <h3 class="header text_b" style="text-align: justify; padding-bottom: 2rem;">Currículo</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="timeline">
        {% for timeline in site.timelines %}
        <div class="timeline-event">
          <div class="card timeline-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ timeline.background_image }}">
              <span class="card-title gradient white-text text-darken-4">
                <small>{{ timeline.range_years }}</small>
              </span>
            </div>
            <div class="card-content teal white-text">
              <span>{{ timeline.description }}</span>
            </div>
          </div>
          <div class="timeline-badge red lighten-3 white-text"></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>