<div class="container center">
  <h3 class="header text_b" style="text-align: justify; padding-bottom: 2rem;">Currículo</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="timeline">
        <div class="timeline-event">
          <div class="card timeline-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ site.baseurl }}/assets/images/timeline_unicamp.png">
              <span class="card-title gradient white-text text-darken-4">
                <small>2020 - Atual</small>
              </span>
            </div>
            <div class="card-content teal white-text">
              <span>Aluno Especial de Doutorado em Ciência da Computação pelo Instituto de Computação da Universidade
                Estadual
                de Campinas - IC Unicamp.</span>
            </div>
          </div>
          <div class="timeline-badge red lighten-3 white-text"></div>
        </div>

        <div class="timeline-event">
          <div class="card timeline-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ site.baseurl }}/assets/images/timeline_eldorado.png">
              <span class="card-title gradient white-text text-darken-4">
                <small>2018 - Atual</small>
              </span>
            </div>
            <div class="card-content teal white-text">
              <span>Analista de Software em projetos baseados em Cloud da empresa Motorola.</span>
            </div>
          </div>
          <div class="timeline-badge red lighten-3 white-text"></div>
        </div>


        <div class="timeline-event">
          <div class="card timeline-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ site.baseurl }}/assets/images/timeline_usp.png">
              <span class="card-title gradient white-text text-darken-4">
                <small>2016 - 2019</small>
              </span>
            </div>
            <div class="card-content teal white-text">
              <span>Mestrado em Ciência da Computação e Matemática Computacional pela Instituto de Ciências de
                Computação e
                Matemática Computacional Universidade de São Paulo - ICMC USP.</span>
            </div>
          </div>
          <div class="timeline-badge red lighten-3 white-text"></div>
        </div>

        <div class="timeline-event">
          <div class="card timeline-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ site.baseurl }}/assets/images/timeline_uft.png">
              <span class="card-title gradient white-text text-darken-4">
                <small>2015 - 2016</small>
              </span>
            </div>
            <div class="card-content teal white-text">
              <span>Estágio em Engenharia de Software no Laboratório de Informática do curso de Ciência da Computação -
                UFT.</span>
            </div>
          </div>
          <div class="timeline-badge red lighten-3 white-text"></div>
        </div>

        <div class="timeline-event">
          <div class="card timeline-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ site.baseurl }}/assets/images/timeline_bb.png">
              <span class="card-title gradient white-text text-darken-4">
                <small>2014 - 2015</small>
              </span>
            </div>
            <div class="card-content teal white-text">
              <span>Estágio em Engenharia de Software na Superintendencia do Banco do Brasil do Estado do Tocantins -
                Super
                TO.</span>
            </div>
          </div>
          <div class="timeline-badge red lighten-3 white-text"></div>
        </div>

        <div class="timeline-event">
          <div class="card timeline-content">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ site.baseurl }}/assets/images/timeline_uft.png">
              <span class="card-title gradient white-text text-darken-4">
                <small>2012 - 2016</small>
              </span>
            </div>
            <div class="card-content teal white-text">
              <span>Graduação em Ciência da Computação pela Universidade Federal do Tocantins (UFT).</span>
            </div>
          </div>
          <div class="timeline-badge red lighten-3 white-text"></div>
        </div>
      </div>
    </div>
  </div>
</div>