<div class="container">
    <h3 class="header text_b" style="text-align: justify; padding-bottom: 2rem;">Portfólio</h3>
    <div class="row">
        {% for work in site.works %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ work.background_image }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        {{ work.project_name }}
                        <i class="material-icons right">more_vert</i>
                    </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        {{ work.project_name }}
                        <i class="material-icons right">close</i>
                    </span>
                    <p>{{ work.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>