---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
  {% include meta.html %} {% include stylesheet.html %}
  <script type="text/javascript">
    function newPopup(url) {popupWindow = window.open(url,'popUpWindow','height=300,width=400,left=10,top=10,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes');}
    function getURL(url){new_url = url + window.location.href; newPopup(new_url);}
  </script>
</head>

<body id="top" class="scrollspy">
  <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" id="logo-container" class="brand-logo"><img src="{{ site.baseurl }}/images/logo.svg" alt="" style="height: 56px; width: 100%;"/></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Início</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
      </div>
    </nav>
  </div>

  {{ content }}

  {% include footer.html %}
  {% include script.html %}
</body>
