---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include meta.html %} {% include stylesheet.html %}
</head>

<body id="top" class="scrollspy">
  {% include navbar.html %}
  <div class="section no-pad-bot" id="index-banner" style="min-height: 50vh; background-color: #009688;">
    <div class="container">
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <h1 style="color: white;font-size: 25px;margin-bottom: 0px;margin-top: 15px;">
            Hi, I'm <br> Vinícius Aires Barros and <br> this is my personal website!
          </h1>
        </div>
      </div>
      <div class="row" style="padding-top: 15px;">
        <a class="waves-effect waves-light btn" href="#sobre">More</a>
      </div>
    </div>
  </div>

  {{ content }}

  {% include footer.html %}
  {% include script.html %}
</body>

</html>
