---
layout: blog
---

<div class="container" style="padding-bottom: 2.5rem;padding-top: 2.5rem;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-image">
          <img src="{{ page.background }}">
        </div>
        <div class="card-action" style="padding-left: 10px; padding-right: 10px;">
          <a href="http://www.github.com/viniciusaires7" target="_blank">
            <div class="chip" style="padding-right: 10px; padding-left: 10px;">
              <img src="https://avatars3.githubusercontent.com/u/4098132?v=3&s=60" alt="Contact Person">
              <a href="https://www.github.com/viniciusaires7" target="_blank" style="color: #727272;margin-right: 0px;margin-left: -15px;">@VINICIUSAIRES7</a>
            </div>
          </a>
          <div class="social-links" style="float: right;">
            <a href="JavaScript:getURL('https://www.facebook.com/sharer/sharer.php?u=');" style="margin-right: 5px;">
              <img src="{{ site.baseurl }}/assets/images/icons/facebook.png" alt="" />
            </a>
            <a href="JavaScript:getURL('https://twitter.com/home?status=');" style="margin-right: 5px;">
              <img src="{{ site.baseurl }}/assets/images/icons/twitter.png" alt="" />
            </a>
            <a href="JavaScript:getURL('https://www.linkedin.com/shareArticle?mini=true&url=');" style="margin-right: 5px;">
              <img src="{{ site.baseurl }}/assets/images/icons/linked-in.png" alt="" />
            </a>
          </div>
        </div>
        <div class="card-content">
          {{ content }}
          <div class="date" style="float: right;">
            Escrito em {{ page.date | date: "%B %e, %Y" }}
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <span style="padding-top: 25px;"><i class="fa fa-comments fa-2x" aria-hidden="true" style="color: #009688;"></i> Comentários</span>
  {% include disqus.html %}
  <div class="row">
    <h3 class="header text_b" style="text-align: justify;">Outros Artigos </h3>
  </div>
  <div class="row">
    {% for post in site.posts %}
      {% assign loopindex = forloop.index %}
         {% if loopindex <= 3 %}
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
             <div class="card">
               <div class="card-image">
                 <img src="{{ post.thumbnail }}">
               </div>
               <div class="collection" style="margin-bottom: 0px; margin-top: 0px;">
                 <a href="{{ site.baseurl }}{{ post.url }}" class="collection-item">{{ post.title }}</a>
               </div>
               <div class="card-action">
                 <a class="waves-effect waves-light btn" href="{{ site.baseurl }}{{ post.url }}" style="width: 100%;">Leia mais</a>
               </div>
             </div>
           </div>
         {% endif %}
    {% endfor %}
  </div>
</div>
